
<div class="container">

</div>

<div class="container mt-4 contentCard">
    <div class="card w-50">
        <div class="card-header">
            <h3>Dados totais</h3>
        </div>
        <div class="card-body">
            Dados totais: {{dataHospital.length}}
        </div>
        <div class="card-footer">

        </div>
    </div>
    <div class="card w-50">
        <div class="card-header">
            <h3>Dados totais</h3>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">

        </div>
    </div>
</div>