<div class="jumbotron topSection jumbotron-fluid p-3">
  <div class="container">
    <div class="topSectionDetail">
      <h1 class="display-4">Monitoramento Hospitalar - PB</h1>
      <img src="/assets/painel.png" height="100px" alt="">
    </div>
    <hr>
    <h3>Bem vindo!</h3>
    <p class="lead">Análise de infraestrutura hospitalar brasileira em tempo real.</p>
  </div>
</div>