<div class="jumbotron jumbotron-fluid bg-light p-3">
  <div class="container">
    <h1 class="display-4">Monitoramento Hospitalar - PB</h1>
    <p class="lead">Análise de infraestrutura hospitalar brasileira em tempo real.</p>
  </div>
</div>